<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E174E23A2E55A6AF36ECEA785F3F4EA7CD0CD211</string>
				<key>dateExpires</key>
				<string>4/17/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GS5Z52K6H7.com.citrix.browser.Browser</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NPB9J4KRXA</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>GS5Z52K6H7.com.citrix.browser.Browser</string>
				</array>
			</dict>
			<key>name</key>
			<string>Browser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>381258cc-cbb3-47ee-89c1-bfc23e4811d7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.citrix.*</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NPB9J4KRXA</string>
				<key>name</key>
				<string>Citrix</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
